    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | {{site.name}}</title>
    {% seo %}

    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">

    <!-- <link rel="icon" type="image/x-icon" href="/img/favicon.ico"> -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;800&display=swap" rel="stylesheet">

    <!-- Bootstrap Modified -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme.css">

    <!-- Additional Stylesheet -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/customize.css">

    <!-- Google adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1676785078101005"
     crossorigin="anonymous"></script>

    <!-- Jquery on header to make sure everything works, the rest  of the scripts in footer for fast loading -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <meta name="description" content="{{ page.meta_description  | default: site.description }}">
    <meta name="keywords" content="{{ page.meta_keywords  | default: site.keywords }}">
    <!-- <meta name="author" content="{{ page.author | default: site.keywords }}"> -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta property="og:title" content="{{ page.title | default: site.title }}">
    <meta property="og:image" content="{{ page.book_preview_image | default: site.book_preview_image }}" />
    <meta property="og:description" content="{{ page.meta_description  | default: site.description }}">
    <meta property="og:url" content="{{ page.my_base_site }}{{ page.permalink }}" />
    <meta property="og:image:width" content='1200' />
    <meta property="og:image:height" content='627' />
    <!-- TYPE BELOW IS PROBABLY: 'website' or 'article' or look on https://ogp.me/#types -->
    <meta property="og:type" content='website'/>
