---
layout: default
---
<div class="container">
<h1 class="display-4 mb-4 article-headline">{{ page.title }}</h1>
<div class="row">
    <div class="col-md-12">
            <div class="intro-text">

                 <!-- start of 2column header -->
					<div class="row" style="bbackground-image: url('{{ page.book_background }}'); background-color: #fff; background-position: center center; background-repeat: none;-webkit-background-size: cover; -moz-background-size: cover;background-size: cover; -o-background-size: cover;">

							<!--name="sentMessage"-->
							<div class="row">
							<div class="col-md-4">
								<img src="{{ page.book_image }}" style="max-width:100%;height:auto;">
							</div>
							<div class="col-md-8">
								<br><br>
								<h2 class="service-heading" style="color: #000;">
									{{ page.subtitle }}
								</h4>

								<div style="padding: 10px;">
								<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="http://techbeatly.com/k8sbiblepkt">Buy on Packt</a>
								</div>
								<div style="padding: 10px;">
								<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="http://techbeatly.com/k8sbibleamz">Buy on Amazon</a>
								</div>
								<div style="padding: 10px;">
								<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="https://www.techbeatly.com/k8sbiblebn">Buy on Barnes & Noble</a>
								</div>
							</div>
							</div>

					</div>
				<!-- end of 2column header -->
            </div>

	<!-- <div style="align-items: center; text-align: center;">
		{% assign authors_list = page.authors %}
            {% for author in authors_list %}
				<div class="team-member-single" >
					<img class="mx-auto rounded-circle" src="{{ author.image}}" alt="{{ author.name }}" style="border-radius: 50%; padding: 50px 0px 50px 0px;">
				  </div>
				  <div>
					{{ author.description}}
				  </div>
            {% endfor %}
	</div> -->
    <div cclass="page-content">
		<article class="article-post">
			{{ content }}
		</article>
    </div>
    </div>

</div>
</div>